@import "variables";
@import "reboot";
@import "utils";
@import "forms";
@import "button";
@import "select-list";
@import "dropdown";


body.body--panel-dragging,
body.body--panel-dragging * {
  user-select: none;
}
body.body--panel-vertical {
  cursor: col-resize;
}

body.body--panel-horizontal {
  cursor: row-resize;
}